GEMINI_API_KEY=API_KEY_HERE #Criar um .env na pasta Python e colocar sua API KEY no lugar do API_KEY_HERE
EXPO_PUBLIC_API_URL=http://localhost:8000/recomendar #Criar um .env na pasta hackathonRsSolutions e colocar a URL do backend (http://localhost:8000/recomendar)
